/*
  Shopello ADMIN css
*/
form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h4 em {
  font-weight: normal;
  color: #999;
}
.form-table {
  width: 100%;
}
.form-table .compact {
  width: auto;
}
.form-table .compact tr td {
  padding-right: 20px;
}
.form-table .compact tr td input[type="text"] {
  width: 400px;
  max-width: 100%;
}
#preview_box {
  margin: 10px 0;
}
.leftcol {
  max-width: 30%;
  float: left;
  border-right: 1px #e0e0e0 solid;
  width: 250px;
}
.leftcol .item {
  margin: 0 20px 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px #ccc solid;
}
.leftcol .item > * {
  max-width: 100%;
}
.leftcol .item h4 {
  margin-bottom: 10px;
}
.leftcol .item .info {
  margin-bottom: 0;
  font-size: 11px;
  color: #777;
}
.leftcol .item #save_button {
  margin-top: 10px;
}
.leftcol .item .categories {
  max-height: 200px;
  overflow: auto;
  border: 1px #ccc solid;
  background: #fff;
  padding: 5px;
  border-radius: 3px;
}
.leftcol .item .categories .line {
  vertical-align: middle;
  line-height: 21px;
  white-space: nowrap;
}
.maincol {
  float: left;
  width: 70%;
  padding-left: 20px;
}
#sapi_api_endpoint,
#sapi_api_key {
  width: 350px;
}
.form-table.lists {
  background: white;
  border: none;
  border-radius: 3px;
}
.form-table.lists tr td {
  border-bottom: 1px #eee solid;
  padding: 7px 4px;
}
.form-table.lists tr td .sc_name,
.form-table.lists tr td .sc_code {
  width: 100%;
}
.form-table.lists tr:last-child td {
  border: none;
}
.form-table.lists tr td:last-child {
  width: 50px;
  text-align: right;
}
#new {
  padding: 40px 0 0 0;
}
.wrap div.update-nag,
.wrap div.updated,
.wrap div.error {
  width: 100%;
  margin: 5px 0 15px;
  box-sizing: border-box;
}
.wrap .update-nag p {
  margin: 0;
}
